<!-- Update Modal example -->
<div
  class="modal fade edit-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="card shadow-none border-0 p-3 pb-0">
        <div class="card-title">
          <h4>Update Service</h4>
        </div>
        <div class="card-body" *ngIf="orderForm">
          <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label class="form-label" for="full-name-input">
                Full Name
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="fullName"
                id="full-name-input"
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="phone-number-input">
                Phone Number
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="phoneNumber"
                id="phone-number-input"
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="email-input"> Email </label>
              <input
                type="text"
                class="form-control"
                formControlName="email"
                id="email-input"
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="cargo-branch-input">
                Cargo Branch
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="cargoBranch"
                id="cargo-branch-input"
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="send-date-input">
                Send Date
              </label>
              <input
                type="datetime-local"
                class="form-control"
                formControlName="sendDate"
                id="send-date-input"
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="send-code-input">
                Send Code
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="sendCode"
                id="send-code-input"
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="is-send-input"> Is Send </label>
              <input
                type="text"
                class="form-control"
                formControlName="isSend"
                id="is-send-input"
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="is-cancel-input">
                Is Cancel
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="isCancel"
                id="is-cancel-input"
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="cancelled-at-input">
                Cancelled At
              </label>
              <input
                type="datetime-local"
                class="form-control"
                formControlName="cancelledAt"
                id="cancelled-at-input"
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="cancelled-user-input">
                Cancelled User
              </label>
              <input
                type="text"
                class="form-control"
                formControlName="cancelledUser"
                id="cancelled-user-input"
              />
            </div>
            <div class="">
              <button class="btn btn-warning d-block ms-auto">
                Update Order
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
